div#beltList,
div#courseUnits,
div#graph {
    background: var(--background-color) !important;
}

/* for knowledge graph */
polygon {
    fill: var(--background-color) !important;
}

g.edge > polygon, g.edge > path {
    stroke: var(--main-text-color) !important;
}
/* end knowledge graph */

div.reviewAnswerList,
div.taskUnlocked,
div.taskCompleted,
div.sidebarFrame,
#lessonSidebar,
div#sectionLinks,
div.taskExpanded {
    background: var(--foreground-color) !important;
}

div.taskNameUnlocked,
td.leaderboardUserName {
    color: var(--main-text-color) !important;
}

a#learnHeaderLink,
#topicName,
div#prerequisitesHeader,
a.courseNameLink,
div.sidebarHeader,
span.taskTypeLocked,
td#leaderboardTitle,
span.tabSelected,
span.taskTypeUnlocked,
a.stepAnchor,
div#selectingTasks {
    color: var(--header-color) !important;
}

div.taskPrerequisites > div.taskPrerequisitesHeader,
div.taskHeader > span.taskPointsUnlocked,
span#userMenu-name {
color: var(--secondary-text-color);
}

a.sectionLink {
    color: rgb(92, 92, 92) !important;
}

a.prerequisiteLink {
    color: rgb(152, 152, 152) !important;
}



div.choiceLetterCircle {
    background: #3a3d41;
}

span.pointsGained,
div.coursePointsAhead {
    color: lightgreen !important;
}

td.leaderboardUserBelt>img,
img#courseBelt {
    filter: saturate(50%);
}

div#beltList,
div#courseUnits {
    box-shadow: none !important;
}
