div#beltList,
div#courseUnits {
    background: var(--background-color) !important;
}

div.reviewAnswerList,
div.taskUnlocked,
div.taskCompleted,
div.sidebarFrame,
#lessonSidebar,
div#sectionLinks,
div.taskExpanded {
    background: var(--foreground-color) !important;
}

div.taskNameUnlocked,
td.leaderboardUserName {
    color: var(--main-text-color) !important;
}

a#learnHeaderLink,
#topicName,
div#prerequisitesHeader,
span.taskTypeUnlocked,
a.courseNameLink,
div.sidebarHeader,
span.taskTypeLocked,
td#leaderboardTitle,
span.tabSelected,
span.taskPointsUnlocked,
div.taskPrerequisitesHeader,
a.stepAnchor {
    color: var(--header-color) !important;
}

a.sectionLink {
    color: rgb(92, 92, 92) !important;
}

a.prerequisiteLink {
    color: rgb(152, 152, 152) !important;
}



div.choiceLetterCircle {
    background: #3a3d41;
}

span.pointsGained,
div.coursePointsAhead {
    color: lightgreen !important;
}

td.leaderboardUserBelt>img,
img#courseBelt {
    filter: saturate(50%);
}

div#beltList,
div#courseUnits {
    box-shadow: none !important;
}
