div#lessonFrame {
    background: var(--background-color) !important;
}

.step {
    background: var(--foreground-color) !important;
}

.step p {
    color: var(--main-text-color) !important;
}

div.question {
    color: var(--main-text-color) !important;
    background: var(--foreground-color) !important;
    margin-bottom: 10px;
}

div.stepHeader,
div.explanationHeader {
    color: var(--header-color) !important;
}

.choiceLetterCircle {
    background: var(--background-color) !important;
}

div.selectedChoice {
    background: var(--foreground-color) !important;
}